:root {
  --color-background: red;
  --color-scrollbar: black !important;
  --color-scrollbar-hover: #bbb;
}

.date_picker .css-z3c6am-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}


.required_text {
  color: #d32f2f;
}

.is_change_product {
  color: #1f700d;
}

::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: white !important;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0CC0F1 !important;
  border-radius: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: white !important;
  border-radius: 10px;
}

body {
  /* background-color: var(--color-background); */
  background-color: '#fff';
}

@-webkit-keyframes click_animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
  }

  to {
    -webkit-transform: scale(5);
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes click_animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
  }

  to {
    -webkit-transform: scale(5);
    transform: scale(5);
    opacity: 0;
  }
}

.css-u59zwl-MuiResponsiveChart-container>svg {
  width: 100%;
  height: 90% !important;
}

.css-fso5qs-MuiResponsiveChart-container>svg {
  width: 100%;
  height: 90% !important;
}

.css-rs4om0>svg {
  width: 100%;
  height: 90% !important;
}

.css-1suh3q0-MuiFormLabel-root-MuiInputLabel-root {

  color: black;
}

.MuiFormControl-root.MuiTextField-root.css-165mck1 {
  width: 100%;
}

.ql-editor {
  min-height: 18em;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
}

.react-datepicker__input-container input {
  padding: 20px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.react-datepicker__input-container input:hover {
  border-color: rgba(0, 0, 0, 0.87);
}

.react-datepicker__input-container input:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
}

select.react-datepicker__month-select {
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 5px;
}

select.react-datepicker__year-select {
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 5px;

}

.input-group-text {
  height: 43px;
  cursor: pointer;
}

.input-group {
  display: flex;
  /* Sử dụng Flexbox */
  align-items: center;
  /* Căn giữa theo chiều dọc */
}

.custom-input {
  height: 55px;
  /* Chiều cao input */
  font-size: 14px;
  /* Kích thước font */
  margin-right: 0;
  /* Đảm bảo không có khoảng cách bên phải */
}

.input-group-text {
  display: flex;
  /* Đảm bảo icon cũng là Flexbox */
  align-items: center;
  /* Căn giữa icon */
}

.position-relative {
  position: relative;
  /* Để sử dụng position:absolute cho icon */
}

.icon-background {
  position: absolute;
  right: 1px;
  /* Adjust to place it correctly */
  top: 50%;
  height: 55px;
  /* Match input height */
  width: 55px;
  /* Adjust width */
  transform: translateY(-50%);
  background-color: #3a3737;
  /* Background color */
  padding: 0.875rem;
  border-radius: 0.25rem;
  pointer-events: all;
  /* Allow click events */
}

.date-picker-container {
  display: flex;
  align-items: center;
  /* Căn chỉnh theo chiều dọc */
  position: relative;
  width: 100%;
}

.icon-clear {
  right: 60px;
  /* Khoảng cách giữa DatePicker và IconX */
  cursor: pointer;
  /* Thêm hiệu ứng con trỏ */
  position: absolute;
}
@media print {
  .no-break {
    page-break-inside: avoid;
    page-break-before: auto;
    page-break-after: auto;
  }

  /* Điều chỉnh các Grid items để không bị cắt ra ngoài */
  .no-page-break {
    page-break-inside: avoid;
  }
}
.MuiFormLabel-root{
  color: rgb(44, 43, 43);
}